# Secret Key 
SECRET_KEY=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
OAUTH_REDIRECT_URI=

# Dominios permitidos para el login separados por comas
ALLOWED_EMAIL_DOMAINS=

# Session Management
SESSION_COOKIE_SECURE=False
SESSION_COOKIE_SAMESITE=Lax
SESSION_TTL_SECONDS=3600

# Entorno de Flask
FLASK_ENV=development

# Redis Configuration => Ruta de conexion a Redis
REDIS_URL=

# Frontend URL
FRONTEND_URL=

# MySQL Configuration
MYSQL_HOST=
MYSQL_PORT=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DB=

# DigitalOcean o otro servicio compatible con S3
DO_SPACES_ENDPOINT= 
DO_SPACES_REGION=
DO_SPACES_BUCKET=
DO_SPACES_KEY=
DO_SPACES_SECRET=